<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [7]:
import csv, sqlite3
import pandas as pd

Load the SQL magic module

In [8]:
%load_ext sql
!pip install -q pandas==1.1.5

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
!pip install pandas

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.15.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [71]:
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

cencus_data_df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
cencus_data_df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")


crime_df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
crime_df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

school_df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
school_df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

In [46]:
print("cencus_data_df:\n")
print(cencus_data_df.info())
print(30*"####")
print("crime_df:\n")
print(crime_df.info())
print(30*"####")
print("school_df:\n")
print(school_df.info())

cencus_data_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   COMMUNITY_AREA_NUMBER                         77 non-null     float64
 1   COMMUNITY_AREA_NAME                           78 non-null     object
 2   PERCENT_OF_HOUSING_CROWDED                    78 non-null     float64
 3   PERCENT_HOUSEHOLDS_BELOW_POVERTY              78 non-null     float64
 4   PERCENT_AGED_16__UNEMPLOYED                   78 non-null     float64
 5   PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  78 non-null     float64
 6   PERCENT_AGED_UNDER_18_OR_OVER_64              78 non-null     float64
 7   PER_CAPITA_INCOME                             78 non-null     int64
 8   HARDSHIP_INDEX                                77 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 5.6+ KB
None
########################################################################################################################
crime_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     533 non-null    int64
 1   CASE_NUMBER            533 non-null    object
 2   DATE                   533 non-null    object
 3   BLOCK                  533 non-null    object
 4   IUCR                   533 non-null    object
 5   PRIMARY_TYPE           533 non-null    object
 6   DESCRIPTION            533 non-null    object
 7   LOCATION_DESCRIPTION   533 non-null    object
 8   ARREST                 533 non-null    bool
 9   DOMESTIC               533 non-null    bool
 10  BEAT                   533 non-null    int64
 11  DISTRICT               533 non-null    int64
 12  WARD                   490 non-null    float64
 13  COMMUNITY_AREA_NUMBER  490 non-null    float64
 14  FBICODE                533 non-null    object
 15  X_COORDINATE           529 non-null    float64
 16  Y_COORDINATE           529 non-null    float64
 17  YEAR                   533 non-null    int64
 18  LATITUDE               529 non-null    float64
 19  LONGITUDE              529 non-null    float64
 20  LOCATION               529 non-null    object
dtypes: bool(2), float64(6), int64(4), object(9)
memory usage: 80.3+ KB
None
########################################################################################################################
school_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   School_ID                                         566 non-null    int64
 1   NAME_OF_SCHOOL                                    566 non-null    object
 2   Elementary, Middle, or High School                566 non-null    object
 3   Street_Address                                    566 non-null    object
 4   City                                              566 non-null    object
 5   State                                             566 non-null    object
 6   ZIP_Code                                          566 non-null    int64
 7   Phone_Number                                      566 non-null    object
 8   Link                                              565 non-null    object
 9   Network_Manager                                   566 non-null    object
 10  Collaborative_Name                                566 non-null    object
 11  Adequate_Yearly_Progress_Made_                    566 non-null    object
 12  Track_Schedule                                    566 non-null    object
 13  CPS_Performance_Policy_Status                     566 non-null    object
 14  CPS_Performance_Policy_Level                      566 non-null    object
 15  HEALTHY_SCHOOL_CERTIFIED                          566 non-null    object
 16  Safety_Icon                                       566 non-null    object
 17  SAFETY_SCORE                                      513 non-null    float64
 18  Family_Involvement_Icon                           566 non-null    object
 19  Family_Involvement_Score                          566 non-null    object
 20  Environment_Icon                                  566 non-null    object
 21  Environment_Score                                 513 non-null    float64
 22  Instruction_Icon                                  566 non-null    object
 23  Instruction_Score                                 513 non-null    float64
 24  Leaders_Icon                                      566 non-null    object
 25  Leaders_Score                                     566 non-null    object
 26  Teachers_Icon                                     566 non-null    object
 27  Teachers_Score                                    566 non-null    object
 28  Parent_Engagement_Icon                            566 non-null    object
 29  Parent_Engagement_Score                           566 non-null    object
 30  Parent_Environment_Icon                           566 non-null    object
 31  Parent_Environment_Score                          566 non-null    object
 32  AVERAGE_STUDENT_ATTENDANCE                        565 non-null    object
 33  Rate_of_Misconducts__per_100_students_            566 non-null    float64
 34  Average_Teacher_Attendance                        566 non-null    object
 35  Individualized_Education_Program_Compliance_Rate  566 non-null    object
 36  Pk_2_Literacy__                                   566 non-null    object
 37  Pk_2_Math__                                       566 non-null    object
 38  Gr3_5_Grade_Level_Math__                          566 non-null    object
 39  Gr3_5_Grade_Level_Read__                          566 non-null    object
 40  Gr3_5_Keep_Pace_Read__                            566 non-null    object
 41  Gr3_5_Keep_Pace_Math__                            566 non-null    object
 42  Gr6_8_Grade_Level_Math__                          566 non-null    object
 43  Gr6_8_Grade_Level_Read__                          566 non-null    object
 44  Gr6_8_Keep_Pace_Math_                             566 non-null    object
 45  Gr6_8_Keep_Pace_Read__                            566 non-null    object
 46  Gr_8_Explore_Math__                               566 non-null    object
 47  Gr_8_Explore_Read__                               566 non-null    object
 48  ISAT_Exceeding_Math__                             476 non-null    float64
 49  ISAT_Exceeding_Reading__                          476 non-null    float64
 50  ISAT_Value_Add_Math                               468 non-null    float64
 51  ISAT_Value_Add_Read                               468 non-null    float64
 52  ISAT_Value_Add_Color_Math                         566 non-null    object
 53  ISAT_Value_Add_Color_Read                         566 non-null    object
 54  Students_Taking__Algebra__                        566 non-null    object
 55  Students_Passing__Algebra__                       566 non-null    object
 56  9th Grade EXPLORE (2009)                          566 non-null    object
 57  9th Grade EXPLORE (2010)                          566 non-null    object
 58  10th Grade PLAN (2009)                            566 non-null    object
 59  10th Grade PLAN (2010)                            566 non-null    object
 60  Net_Change_EXPLORE_and_PLAN                       566 non-null    object
 61  11th Grade Average ACT (2011)                     566 non-null    object
 62  Net_Change_PLAN_and_ACT                           566 non-null    object
 63  College_Eligibility__                             566 non-null    object
 64  Graduation_Rate__                                 566 non-null    object
 65  College_Enrollment_Rate__                         566 non-null    object
 66  COLLEGE_ENROLLMENT                                566 non-null    int64
 67  General_Services_Route                            566 non-null    int64
 68  Freshman_on_Track_Rate__                          566 non-null    object
 69  X_COORDINATE                                      566 non-null    float64
 70  Y_COORDINATE                                      566 non-null    float64
 71  Latitude                                          566 non-null    float64
 72  Longitude                                         566 non-null    float64
 73  COMMUNITY_AREA_NUMBER                             566 non-null    int64
 74  COMMUNITY_AREA_NAME                               566 non-null    object
 75  Ward                                              566 non-null    int64
 76  Police_District                                   566 non-null    int64
 77  Location                                          566 non-null    object
dtypes: float64(12), int64(7), object(59)
memory usage: 345.0+ KB
None

Establish a connection between SQL magic module and the database `FinalDB.db`

In [4]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

In [33]:
#%sql select * from CHICAGO_CRIME_DATA

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [47]:
total_crimes = len(crime_df)
print("Total number of crimes recorded:", total_crimes)

Total number of crimes recorded: 533

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [49]:
low_income_areas = cencus_data_df[cencus_data_df['PER_CAPITA_INCOME'] < 11000][['COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME']]
print(low_income_areas)

    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME
25                   26.0  West Garfield Park
29                   30.0      South Lawndale
36                   37.0         Fuller Park
53                   54.0           Riverdale

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [ ]:
school_df

### Problem 4

##### List all kidnapping crimes involving a child?

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [52]:
school_df['Elementary, Middle, or High School'].unique()

array(['ES', 'HS', 'MS'], dtype=object)

In [53]:
average_safety_scores = school_df.groupby('Elementary, Middle, or High School')['SAFETY_SCORE'].mean().reset_index()

average_safety_scores.columns = ['School Type', 'Average Safety Score']

In [55]:
average_safety_scores[average_safety_scores['School Type'] == 'MS']

  School Type  Average Safety Score
2          MS                  48.0

In [54]:
print(average_safety_scores)

  School Type  Average Safety Score
0          ES             49.520384
1          HS             49.623529
2          MS             48.000000

### Problem 7

##### List 5 community areas with highest % of households below poverty line

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [65]:
crime_df.COMMUNITY_AREA_NUMBER.unique()

array([58., 23., 38., 46., 66., 24., 14., 72., 21., 65., 28., 49., 26.,
       22., 48., 44., 25.,  8., 32., 69., 59., 68., 76., 73., 35.,  6.,
       nan, 30., 43., 31.,  5., 42., 29.,  7., 67., 39., 77., 61.,  2.,
       63., 64., 62., 75.,  1., 15., 71., 16., 50., 56., 51.,  4., 27.,
       19., 37., 70., 54., 60., 10., 41., 52., 53., 11., 18., 17., 47.,
       55.,  3., 45., 33., 20., 12.])

In [58]:
# Counting the number of crimes in each community area
crime_counts = crime_df['COMMUNITY_AREA_NUMBER'].value_counts()

# Finding the community area with the highest number of crimes
most_crime_prone_area_number = crime_counts.idxmax()

print(f"The most crime-prone community area number is: {most_crime_prone_area_number}")

The most crime-prone community area number is: 25.0

In [67]:
## check again
crime_counts.head(5)

25.0    43
23.0    22
68.0    21
28.0    16
29.0    16
Name: COMMUNITY_AREA_NUMBER, dtype: int64


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [73]:
import pandas as pd

# Assuming crime_df is loaded as shown earlier
# Count crimes per community area
crime_counts = crime_df['COMMUNITY_AREA_NUMBER'].value_counts().reset_index()
crime_counts.columns = ['COMMUNITY_AREA_NUMBER', 'NUMBER_OF_CRIMES']

# Get the community area with the most crimes
most_crimes = crime_counts.loc[crime_counts['NUMBER_OF_CRIMES'].idxmax()]

# Using the number to get the community area name from census_data_df (assuming it includes community area names)
most_crime_area_name = cencus_data_df.loc[cencus_data_df['COMMUNITY_AREA_NUMBER'] == most_crimes['COMMUNITY_AREA_NUMBER'], 'COMMUNITY_AREA_NAME'].iloc[0]

print(f"The Community Area with the most crimes is: {most_crime_area_name} ({most_crimes['COMMUNITY_AREA_NUMBER']}) with {most_crimes['NUMBER_OF_CRIMES']} crimes.")

The Community Area with the most crimes is: Austin (25.0) with 43.0 crimes.

In [74]:
crime_counts = crime_df['COMMUNITY_AREA_NUMBER'].value_counts().reset_index()
crime_counts.columns = ['COMMUNITY_AREA_NUMBER', 'NUMBER_OF_CRIMES']

In [75]:
most_crimes = crime_counts.loc[crime_counts['NUMBER_OF_CRIMES'].idxmax()]

In [76]:
most_crime_area_name = cencus_data_df.loc[cencus_data_df['COMMUNITY_AREA_NUMBER'] == most_crimes['COMMUNITY_AREA_NUMBER'], 'COMMUNITY_AREA_NAME'].iloc[0]

In [77]:
print(f"The Community Area with the most crimes is: {most_crime_area_name} ({most_crimes['COMMUNITY_AREA_NUMBER']}) with {most_crimes['NUMBER_OF_CRIMES']} crimes.")

The Community Area with the most crimes is: Austin (25.0) with 43.0 crimes.

In [79]:
%reload_ext sql
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

In [80]:
%%sql
SELECT CD.COMMUNITY_AREA_NAME, COUNT(*) as TOTAL_CRIMES
FROM CHICAGO_CRIME_DATA CCD
JOIN CENSUS_DATA CD ON CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
GROUP BY CD.COMMUNITY_AREA_NAME
ORDER BY TOTAL_CRIMES DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[('Austin', 43)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>